@media screen and (min-width:780px) and (max-width:1024px){
    
    .portada{

        width: 100%;
        display: flex;
        background:  linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/principal.jpg');
        background-size: cover;
        background-position:center center;
        background-repeat: no-repeat;
        height: 87vh;
    }
}

@media screen and (min-width:480px) and (max-width:780px){

    .portada{

        width: 100%;
        display: flex;
        background:  linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/principal.jpg');
        background-size: cover;
        background-position:center center;
        background-repeat: no-repeat;
        height: 87vh;
    }

    .container{

        width:66%;
        font-size: 20px;
        padding: 1%;
        margin-left: 3%;
    }

    .container h3{

        font-family: 'Bebas Neue', cursive;
        font-size: 60px;
    
    }

    .botoes{

        margin-top: 10px;
        padding: 1%;
        margin-left: 3%;
        width: 70%;
    }
    

}

@media screen and (max-width:480px){

    .portada{

        width: 100%;
        display: flex;
        background:  linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/principal.jpg');
        background-size: cover;
        background-position:center center;
        background-repeat: no-repeat;
        height: 87vh;
    }

    .container{

        width:100%;
        font-size: 16px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 5px;
        text-align: center;
        padding:5px;
        
    }

    .container h3{

        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
    
    }

    .botoes{

        margin-top: 10px;
        width:100%;
        display: block;
        justify-content: center;
        
    }

    .botoes button{

        font-size: 9px;
        
    }
}